{% extends 'Usuario/principal.html' %}

{% block content %}
<div class="cambioContra">
  <div class="col-12 col-sm-12 col-md-10 col-lg-7 cambioContraH">
    <div class="card border-0 cardContra rounded-3">
      <div class="card-body p-4 p-sm-5">
        <h5 class="card-title card-title-normal text-center mb-5">CAMBIO DE CONTRASEÑA</h5>
        <form id="form_microsoft" class="row g-3" method="POST" action="{% url 'cambio_api_microsoft' %}">
          {% csrf_token %}
          <div class="form-floating mb-3 col-md-12">
            <ul>
              <li class="colorText">Su contraseña no puede ser similar a otros componentes de su información personal.
              </li>
              <li class="colorText">Su contraseña debe contener por lo menos 8 caracteres.</li>
              <li class="colorText">Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
              <li class="colorText">Su contraseña no puede estar formada exclusivamente por números.</li>
            </ul>
          </div>
          <div class="form-floating mb-3 col-sd-6">
            <input type="password" class="form-control formColorM" id="id_old_password" placeholder="Contraseña Antigua"
              name="old_password" autocomplete="current-password" autofocus required>
            <label for="old_password">Contraseña Antigua</label>
          </div>
          <div class="form-floating mb-3 col-md-6">
            <input type="password" class="form-control formColorM" id="id_new_password1" placeholder="Contraseña Nueva"
              name="new_password1" autocomplete="new-password" required>
            <label for="new_password1">Contraseña Nueva</label>
          </div>
          <div class="form-floating mb-3 col-md-6">
            <input type="password" class="form-control formColorM" id="id_new_password2"
              placeholder="Confirmación de Contraseña Nueva" name="new_password2" required>
            <label for="new_password2">Confirmación de Contraseña Nueva</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btnPrimaryUC btn-login fw-bold">Cambiar Contraseña</button>
          </div>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../static/img/registroDeM.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
  }

  .responsiveLogoC {
    position: absolute;
    bottom: 30px;
    /* Espacio desde la parte inferior */
    right: 20px;
    /* Espacio desde la derecha */
    max-width: 100%;
    /* Evita que la imagen se desborde del contenedor */
    max-height: 100%;
    /* Evita que la imagen se desborde del contenedor */
  }

  @media (max-width: 914px) and (orientation: landscape) {
    .responsiveLogoC {
      display: none;
    }
  }
</style>
<script>
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const alert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert" id="alertInfo">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')

    alertPlaceholder.append(wrapper)
  }

  document.getElementById('form_microsoft').addEventListener('submit', function (event) {
    if (verifyPassword()) {
      console.log('Exito');
    } else {
      alert('Las contraseñas ingresadas no coinciden. Por favor, asegúrate de que ambas contraseñas sean idénticas.', 'warning');
      setTimeout(() => {
        document.getElementById('alertInfo').remove();
      }, 10000);
      event.preventDefault();
    }
  });

  function verifyPassword() {
    var pass1 = document.getElementById('id_new_password1');
    var pass2 = document.getElementById('id_new_password2');

    if (pass1.value != pass2.value) {
      return false;
    }
    else {
      return true;
    }
  }
</script>
{% endblock %}