{% extends 'Usuario/principal.html' %}
{% block content %}
<div class="cambioContra">
    <div class="col-sm-12 col-md-10 col-lg-5 cambioContraH">
        <div class="card border-0 cardContra rounded-3">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 card-title-normal">OLVIDO DE CONTRASEÑA</h5>
                <form method="POST" action="{% url 'cambioContrasenna' %}">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control formColor" id="email" placeholder="Correo" name="email" required>
                        <label class="formColor" for="floatingInput">Correo Electrónico</label>
                    </div>
                    <div class="d-grid mb-2">
                        <button type="submit" class="btn btnPrimaryUC btn-login fw-bold bi bi-envelope-fill"> Enviar Correo</button>
                    </div>
                    <div class="d-grid mb-2">
                        <span class="ml-auto"> ¿Ya recordó su contraseña? <a href="{% url 'login' %}"
                                class="text-info bi bi-box-arrow-in-right">   Ingresar</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<img src="../../../static/img/logoLogin.png" alt="" class="responsiveLogoC " style="width: 110px; height: 50px;" >
  <style>
    body {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../static/img/Pantalla_Inicio/pantallaInicioDesefoque.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      z-index: -1;
  }
  .responsiveLogoC {
    position: absolute;
    bottom: 30px; /* Espacio desde la parte inferior */
    right: 20px; /* Espacio desde la derecha */
    max-width: 100%; /* Evita que la imagen se desborde del contenedor */
    max-height: 100%; /* Evita que la imagen se desborde del contenedor */
  }
  @media (max-width: 914px) and (orientation: landscape) {
    .responsiveLogoC{
        display: none;
    }
  }
  </style>
{% endblock content %}