{% extends 'Usuario/principal.html' %}

{% block content %}
<div class="cambioContra">
  <div class="col-11 col-sm-18 col-md-11 col-lg-8 col-xl-5 cambioContraH">
    <div class="card border-0 cardContra rounded-3">
      <div class="card-body p-4 p-sm-5">
        <div class="row">
          <div class="col-md-4">
            <img src="../../static/img/Cuadros/correct.png" id="logoBack" width="600" height="350" alt="">
          </div>
          <div class="col-md-8">
            <h1 class="colorText textoPassT mb-4">Su contraseña ha sido cambiada de forma exitosa</h1>
            <div class="row">
              <div class="col-md-12 mt-4 d-flex justify-content-center ">
                  <a href="{% url 'login' %}" class="btn btnPrimaryUC btn-login fw-bold bi bi-box-arrow-in-right "
                    role="button" style="text-decoration: none; max-width: 150px;"> Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="../../static/img/logoLogin.png" alt="" class="responsiveLogoC " style="width: 110px; height: 50px;">
<style>
  body {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../static/img/Pantalla_Inicio/pantallaInicioDesefoque.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
  }

  .responsiveLogoC {
    position: absolute;
    bottom: 30px;
    /* Espacio desde la parte inferior */
    right: 20px;
    /* Espacio desde la derecha */
    max-width: 100%;
    /* Evita que la imagen se desborde del contenedor */
    max-height: 100%;
    /* Evita que la imagen se desborde del contenedor */
  }

  @media (max-width: 914px) and (orientation: landscape) {
    .responsiveLogoC {
      display: none;
    }
  }
</style>
{% endblock content %}